<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>I don't feel so good</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>

      <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <audio id="snap" src="public/thanos_snap_sound.mp3" preload="auto" ></audio>
    <!-- <audio autoplay>
        <source src="public/intyro.mp3" preload="auto" autobuffer type="audio/mpeg">
      </audio> -->
  <!-- <div class="item disintegration-target"    onclick="document.getElementById('snap').play();">
  <img src="/public/ironman.png" style="width:400px;height:600px;" />
</div> -->
<div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <div class="mySlides"    >
      <img src="/public/images/ironman.png" style="width:400px;height:600px;" />
      <p class="author">- Ironman</p>
    </div>
  
    <div class="mySlides"    >
      <img src="/public/images/susmit-removebg.png"  />
      <p class="author">- Susmit</p>
    </div>
  
    <div class="mySlides"    >
      <img src="/public/images/saket.png" />
      <p class="author">- Saket Kumar</p>
    </div>

    <div class="mySlides"   >
        <img src="/public/images/farook.png" />
        <p class="author">- Farook</p>
      </div>

      <div class="mySlides"   >
        <img src="/public/images/akash.png" />
        <p class="author">- Akash Budhaulia</p>
      </div>

      <div class="mySlides"   >
          <img src="/public/images/rishab.png"  />
          <p class="author">- Rishabh Sharma</p>
        </div>

      <div class="mySlides"   >
          <img src="/public/images/Tarique.png"  />
          <p class="author">- Tarique Javaid</p>
      </div>
      <div class="mySlides"   >
        <img src="/public/images/op.png"  />
        <p class="author">- Op </p>
    </div>
    <div class="mySlides"    >
      <img src="/public/images/aditi.png"  />
      <p class="author">- Aditi Mishra</p>
  </div>
  <div class="mySlides"   >
    <img src="/public/images/swetank.png"  />
    <p class="author">- Swetank Bhardwaj</p>
</div>
<div class="mySlides"    >
  <img src="/public/images/mayuri.png"  />
  <p class="author">- Mayuri Agrawal</p>
</div>
<div class="mySlides"    >
  <img src="/public/images/muskan.png"  />
  <p class="author">- Muskan Agrawal</p>
</div>
<div class="mySlides"    >
  <img src="/public/images/samaira.png"  />
  <p class="author">- Samaira Garg</p>
</div>
<div class="mySlides"    >
  <img src="/public/images/akshi.png"  />
  <p class="author">- Akshi</p>
</div>
<div class="mySlides"    >
  <img src="/public/images/kushagrah.png"  />
  <p class="author">- Kushagra Garg</p>
</div>
<!-- <div class="mySlides" onclick="document.getElementById('snap').play()"   >
  <img src="/public/images/vrinda.jpg"  />
  <p class="author">-Vrinda Goyal</p>
</div> -->
<!-- <div class="mySlides"    >
  <img src="/public/images/achint.png"  />
  <p class="author">- Achint Sharma</p>
</div>
<div class="mySlides"    >
  <img src="/public/images/Ashish.png"  />
  <p class="author">- Ashish Suraj</p>
</div>
<div class="mySlides"    >
  <img src="/public/images/satyam.png"  />
  <p class="author">- Satyam Kumar</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/vikram.png"  />
  <p class="author">- Vikram Sharma</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/Pradyumn.png"  />
  <p class="author">- Pradyumn Agrawal</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/shivam.png"  />
  <p class="author">- Shivam Sharma</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/Jeetu.png"  />
  <p class="author">- Jeetu</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/Kanak.png"  />
  <p class="author">- Kanak Singhal</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/nitinc.png"  />
  <p class="author">- Nitin Choudary</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/nitink.png"  />
  <p class="author">- Nitin k  Jain</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/Vineet.png"  />
  <p class="author">- Vineet Singh</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/sumitdhull.png"  />
  <p class="author">- Sumit Dhull</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/mayur.png"  />
  <p class="author">- Mayur Singhal</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/harshit.png"  />
  <p class="author">- Harshit Bishnoi</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/nikhil.png"  />
  <p class="author">- Nikhil Lalchandani</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/gaurav.png"  />
  <p class="author">- Gaurav Aidasani</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/vrinda.png"  />
  <p class="author">- Vrinda Goyal</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/saksham.png"  />
  <p class="author">- Saksham srivastava</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/mehul.png"  />
  <p class="author">- Mehul</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/Arun.png"  />
  <p class="author">- Arun Phogat</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/vivek.png"  />
  <p class="author">- Vivek Tiwari</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/nisharg.png"  />
  <p class="author">- Nisarg bhatt</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/ayushsoral.png"  />
  <p class="author">- Ayush Soral</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/ravisharma.png"  />
  <p class="author">- Ravi Sharma</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/abhishek.png"  />
  <p class="author">- Abhishek Sharma</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/rohit.png"  />
  <p class="author">- Rohit Anand</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/vishnu.png"  />
  <p class="author">- Vishnu Yadav</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/harshit.png"  />
  <p class="author">- Himanshu Purohit</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/manan.png"  />
  <p class="author">- Manan Agrawal</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/aman.png"  />
  <p class="author">- Aman Dhembla</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/praveen.png"  />
  <p class="author">- Praveen</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/navdeep.png"  />
  <p class="author">- Navdeep</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/vishal.png"  />
  <p class="author">- Vishal</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/ashishdhameja.png"  />
  <p class="author">- Ashish Dhameja</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/lokesh.png"  />
  <p class="author">- Lokesh</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/rachit.png"  />
  <p class="author">- Rachit</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/ayushdangi.png"  />
  <p class="author">- Ayush Dangi </p>
</div>
<div class="mySlides"   >
  <img src="/public/images/arshiysa-removebg.png"  />
  <p class="author">- Arshiya Guneja</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/zayed-removebg.png"  />
  <p class="author">- Zayed</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/tayba.png"  />
  <p class="author">- Tayba Wasim</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/nishank.png"  />
  <p class="author">- Nishank Bhati</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/vinayak.png"  />
  <p class="author">- Vinayak</p>
</div>
<div class="mySlides"   >
  <img src="/public/images/ashishkarel.png"  />
  <p class="author">- Ashish Karel</p>
</div> -->
<!-- //vikas
//suraj jain 
//yash
//ashish jhar
//pranshu
//nitin 
//utsav
//himanshu shrimali
//palkansh
//rishabh rathore
//vedansh
// -->
    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
<div id = "line"></div>
<div class="item disintegration-target">
  <h1>I don't feel so good</h1>
  <p>Last day of my college !</p>
  <p>I don't know what's happening, I don't wanna go, I don't wanna go</p>
  <p id="demo"></p>
</div>


<!-- Slideshow container -->
  <!-- Dots/bullets/indicators -->
  <!-- <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div> -->
  <script src='https://unpkg.com/html2canvas@1.0.0-rc.1/dist/html2canvas.js'></script>
  <script  src="/public/js/index.js"></script>
</body>

</html>
